site_name: ablina documentation
# site_url:

repo_url: https://github.com/daniyal1249/ablina

# site_description:
site_author: Daniyal Akif


theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    # - toc.integrate
    - search.suggest
    # - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    # - scheme: slate
      # primary: white
      # accent: blue


nav:
  - Overview: index.md
  - Guides:
    - Getting started: guides/getting-started.md
    - Installation: guides/installation.md
  - API reference:
    - Set: reference/mathset.md
    - Vector space: reference/vectorspace.md
    - Linear map: reference/linearmap.md
    - Inner product space: reference/innerproduct.md
  - Resources: resources.md


plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy


markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - toc:
      permalink: true
